* {
    font-family: 'Poppins', sans-serif;
}

html {
    overflow-x: hidden !important;
}

body {
    overflow-x: hidden !important;
}

/* body {
    background-image: url('images/blob-scene-haikei.svg');
    background-size: cover;
} */

p {
    font-size: 0.8em;
}

/* Navbar Main */

.nav-main {
    background-color: #FFFFFF;
    height: 80px;
    transition: all ease 0.3s;
}


.nav-main .navbar-nav {
    font-weight: 500;
}

.nav-main .nav-item {
    padding: 0 1.5em 0 1.5em;
}

.nav-main .nav-item a {
    font-size: 0.9em;
}

.navbar-collapse {
    background-color: #FFFFFF;
    /* background-color: #FFFFFF; */

}

.navbar-brand img {
    height: 60px;
}

.add-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Contact Now Button */

.btn-contact-now {

    float: left;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #06C755;
    padding: 12px 50px;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 500;
    transition: all ease 0.2s;
    border: #06C755 solid 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-top: 10px;
}


.btn-contact-now:hover {
    color: #06C755;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    /* transform: translateY(-5px); */
}


/* Header Title */

.header-title {
    font-weight: 600;
}

/* Header Image */

.header-img {
    -webkit-border-bottom-left-radius: 100px;
    -moz-border-radius-bottomleft: 100px;
    border-bottom-left-radius: 100px;

    object-fit: cover;
    width: 100%;
    background-size: cover;
}

/* Home Section */

#Home {
    /* margin-top: 80px; */
    padding-top: 80px;
}

/* Circles */

.circle1 {
    background-color: #DAE9FF;
    width: 130px;
    height: 130px;
    position: absolute !important;
    z-index: -1;
    top: 100px;
    left: -50px;
    border-radius: 50%;
}

.half-circle1 {
    background-color: #FFF5DB;
    width: 150px;
    height: 180px;
    position: absolute !important;
    z-index: -1;
    bottom: -70px;
    right: 100px;
    -webkit-border-top-right-radius: 180px;
    -webkit-border-bottom-right-radius: 180px;
    -moz-border-radius-topleft: 180px;
    -moz-border-radius-bottomleft: 180px;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
}

.half-circle2 {
    background-color: #EFF1FF;
    width: 150px;
    height: 180px;
    position: absolute !important;
    z-index: -1;
    bottom: -78px;
    left: 29px;
    -webkit-border-top-left-radius: 180px;
    -webkit-border-bottom-left-radius: 180px;
    -moz-border-radius-topright: 180px;
    -moz-border-radius-bottomright: 180px;
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
}

.outer-circle {
    /* background: #385a94;  */
    border: #ff007a solid 8px;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 94px;
    z-index: -1;
    left: -193px;
}

.inner-circle {
    position: absolute;
    /* background: #a9aaab; */
    border: #FF007A solid 30px;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    top: 50%;
    left: 50%;
    margin: -175px 0px 0px -175px;
}

/* Dots */

.dot-box {
    position: absolute;
    left: 70px;
    bottom: 10px;

    height: 130px;
    width: 350px;
    background-image: radial-gradient(circle at 3px 3px, #eaeaea 3px, transparent 0);
    background-size: 20px 20px;
    z-index: -2;
}

.dot-box-contact {
    position: absolute;
    right: -40px;
    top: -60px;

    height: 130px;
    width: 250px;
    background-image: radial-gradient(circle at 3px 3px, #eaeaea 3px, transparent 0);
    background-size: 20px 20px;
    z-index: -2;
}

/* Our CLients */

.our-client img {
    padding: 20px;
}

/* Contact */

.bg-contact {
    background-color: #ffffff;
}

.contact-details-box {
    background-color: #5491f5;
    width: 300px;
    position: absolute;
    padding: 10px;
    height: 340px;
    border-radius: 0px 150px 0px 150px;
    right: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}

/* Language Buttons */

#languages .btn.active {
    background-color: #212529 !important;
    color: #FFFFFF;
}

/* Services Boxes */

/* Box-1 */
.box-1 {
    transition: all .5s ease-in-out;
    cursor: default;
}

.box-1:hover {
    background-color: #5491f5;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.box-1:hover .card-title {
    color: #FFFFFF;
}

.box-1:hover .card-text {
    color: #f1f1f1 !important;
    font-weight: 300;
}

/* Box-2 */
.box-2 {
    transition: all .5s ease-in-out;
    cursor: default;
}

.box-2:hover {
    background-color: #ffc267;
    transform: translateY(-60px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.box-2:hover .card-title {
    color: #FFFFFF;
}

.box-2:hover .card-text {
    color: #f1f1f1 !important;
    font-weight: 300;
}

/* Box-3 */
.box-3 {
    transition: all .5s ease-in-out;
    cursor: default;
}

.box-3:hover {
    background-color: #ff4ea3;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.box-3:hover .card-title {
    color: #FFFFFF;
}

.box-3:hover .card-text {
    color: #f1f1f1 !important;
    font-weight: 300;
}

/* Box-4 */
.box-4 {
    transition: all .5s ease-in-out;
    cursor: default;
}

.box-4:hover {
    background-color: #20d67f;
    transform: translateY(-60px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.box-4:hover .card-title {
    color: #FFFFFF;
}

.box-4:hover .card-text {
    color: #f1f1f1 !important;
    font-weight: 300;
}


/* Mobile Responsive */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Paddings */
    .p-xs {
        padding: 30px !important;
    }

    .pl-xs {
        background-color: #FF007A;
        padding-left: 30px !important;
    }

    .pr-xs {
        padding-right: 30px !important;
    }

    .pt-xs {
        padding-top: 10px !important;
    }

    .pb-xs {
        padding-bottom: 10px !important;
    }

    /* Dots */
    .dot-box {
        left: 15% !important;
        bottom: 0 !important;
        height: 50px !important;
        width: 70% !important;
    }

    /* Contact Us Button */
    .btn-contact-now {
        /* left: 17% !important; */
        padding: 15px 40px !important;
    }

    .btn-line {
        right: 30px !important;
    }


    /* Text Center */
    .txt-c-xs {
        text-align: center;
    }

    /* Contact */
    .contact-details-box {
        right: 0 !important;
        position: relative;
        width: 100%;
        border-radius: 0px 0px 50px 50px;
        height: 200px;
        margin: 0;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px
    }

    .contact-details-box div {
        padding: 15px !important;
    }

    /* .bg-contact {
        border-radius: 50px !important;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px !important;
    } */

    .contact-box {
        height: 100% !important;
        padding: 0 !important;
    }

    /* Half Circles */
    .half-circle2 {
        bottom: 10px !important;
        left: 10px;
        border-radius: 50px 0 0 50px;
    }

    /* Map */
    .map-box {
        height: 250px !important;
    }

    iframe {
        border-radius: 50px 50px 0px 0px !important;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Paddings */
    .p-sm {
        padding: 30px !important;
    }

    .pl-sm {
        background-color: #FF007A;
        padding-left: 30px !important;
    }

    .pr-sm {
        padding-right: 30px !important;
    }

    .pt-sm {
        padding-top: 10px !important;
    }

    .pb-sm {
        padding-bottom: 10px !important;
    }

    /* Text Center */
    .txt-c-sm {
        text-align: center;
    }

    /* Contact Us Button */
    .btn-contact-now {
        /* left: 35%; */
        bottom: 0;
    }

    /* Contact */
    .contact-details-box {
        padding: 0 !important;
        right: 10px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px
    }

    .bg-contact {
        padding: 0 30px !important;
    }

    /* Map */
    .map-box {
        padding: 0 !important;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }

    /* Circles */
    .half-circle2 {
        z-index: -4 !important;
        bottom: -25px !important;
        left: -15px !important;
    }

    /* Dots */
    .dot-box {
        height: 50px;
        left: 25%;
    }

    /* Services Boxes */
    .box-2:hover,
    .box-4:hover {
        transform: translateY(-10px);
    }

}

/* link card */
.ancher-card{
    text-decoration: none;
    cursor: pointer;
}

.ancher-card:hover{
    cursor: pointer!important;
}